body {
  margin: 10;
  padding: 10;
  font-family: sans-serif;
}

.file-list {
  font-family: Helvetica, sans-serif;
  width: 980px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.file-name {
  float:left;
  width: 40%;
}

.file-icon {
  float: left;
  width: 10%;
}

.commit-message {
  float: left;
  width: 30%;
}

.time {
  width: 20%;
}

.file-list .file-item-row {
  border: #ccc 1px solid;
  width: 100%;
}

